<table>
	<thead>
		<tr>
			<th>From</th>
			<th>Date</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @messages.each do |message| %>
		<tr>
			<td>		
				<a href="/message/<%= message[:id] %>">
<%= message[:from] %></a>
			</td> 
			<td>		
				<a href="/message/<%= message[:id] %>">
<%= message[:date] %></a>
			</td> 
			<td>		
				<a href="/message/<%= message[:id] %>">
<%= message[:status] %></a>
			</td> 
		</tr>
		</a>
		<% end %>
	</tbody>
</table>